@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300;400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300;400;600&family=Roboto:wght@500&family=Shrikhand&display=swap");
/*Couleurs principales*/
/*Couleurs secondaires*/
body .center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #F1E6FE;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  animation: timer 200ms forwards;
  animation-delay: 1s;
}
@keyframes timer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
body .center .ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #99E2D0;
  animation: ring 1s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #FF79DA;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #99E2D0;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #9356DC;
  }
}
body .center .ring:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
body .center span {
  z-index: 10;
  font-family: shrikhand;
  font-size: 30px;
  color: #9356DC;
}

body {
  background-color: #F6F6F6;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
header #MainPhoto {
  width: 100%;
  height: 280px;
  object-fit: cover;
  padding: 0;
}
header #logo {
  box-shadow: none;
  padding: 6% 25% 3% 25%;
  width: 50%;
  background-color: white;
}
header i {
  z-index: 1;
  position: absolute;
  left: 20px;
  top: 22px;
  font-size: 23px;
  color: black;
}

header {
  font-family: roboto, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
header img {
  position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 4.5% 25%;
  padding-top: 6%;
}
header form {
  padding: 4% 0% 4% 12%;
  background-color: #E7E7E7;
}
header form i {
  position: relative;
  font-size: 18px;
  left: 150;
  top: 0px;
}
header form input {
  margin-left: 9%;
  border: none;
  outline: none;
  background-color: #E7E7E7;
}
header form ::placeholder {
  color: black;
}
header div {
  height: auto;
  background-color: #F6F6F6;
}
header div h1 {
  border: none;
  margin: 10% auto 2%;
  width: 70%;
  font-size: 24px;
}
header div p {
  margin: 5% auto 0 auto;
  width: 80%;
}
header div button {
  height: 60px;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  width: 60%;
  max-width: 500px;
  margin-bottom: 10%;
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  transition-property: transform;
  transition: all 400ms;
}
header div button:hover {
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.05);
}

nav {
  background-color: white;
  margin-top: 7%;
  margin-bottom: 14%;
}
nav h2 {
  margin: 12% 45% 0 0;
  font-size: 21px;
}
nav ol {
  padding: 0;
  margin-left: 7%;
}
nav ol li {
  transition-property: transform;
  transition: all 150ms;
}
nav ol :hover {
  cursor: pointer;
  scale: 1.05;
  background: #F1E6FE;
}
nav ol :hover i {
  color: #9356DC;
}
nav ol :hover p {
  background-color: #9356DC;
}
nav ol li {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 70px;
  width: 95%;
  margin-top: 8%;
  background-color: #F6F6F6;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
nav ol li:nth-child(3) {
  margin-bottom: 20%;
}
nav ol li i {
  position: relative;
  left: -25px;
  top: 0;
  color: #7E7E7E;
  font-size: 19px;
}
nav ol li .fa-list-ul {
  left: -31px;
}
nav ol li .fa-store {
  left: -28px;
}
nav ol li p {
  font-size: 15px;
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 100px;
  width: 25px;
  height: 20px;
  padding-top: 5px;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: auto;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 50px;
  font-family: roboto, sans-serif;
}
main .Title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 5% 10% 0 5%;
  position: relative;
}
main .Title h1 {
  font-family: shrikhand, sans-serif;
  font-size: 26px;
  font-weight: lighter;
  margin: 5% 0 0 0;
}
main .Title .fa-solid {
  font-size: 28px;
  position: absolute;
  right: -1.5px;
  bottom: 3.7px;
  opacity: 0%;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 150ms;
  cursor: pointer;
}
main .Title .fa-solid:hover {
  opacity: 100%;
}
main .Title .fa-regular {
  margin-top: 4%;
  font-size: 25px;
}
main h2 {
  font-weight: lighter;
  margin: 10% 0 0% 5%;
  font-size: 18px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 1%;
  width: 12%;
}
main .cardResto {
  display: flex;
  justify-content: space-between;
  margin: 5% auto auto auto;
  background-color: white;
  width: 92%;
  max-width: 500px;
  height: 65px;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  animation-name: apparition;
  animation: apparition 1s ease;
}
main .cardResto:nth-child(3) {
  animation-delay: 0s;
}
main .cardResto:nth-child(4) {
  animation-delay: 0.1s;
}
main .cardResto:nth-child(5) {
  animation-delay: 0.2s;
}
main .cardResto:nth-child(6) {
  animation-delay: 0.3s;
}
main .cardResto:nth-child(7) {
  animation-delay: 0.4s;
}
main .cardResto:nth-child(8) {
  animation-delay: 0.5s;
}
main .cardResto:nth-child(9) {
  animation-delay: 0.6s;
}
main .cardResto:nth-child(10) {
  animation-delay: 0.7s;
}
main .cardResto:nth-child(11) {
  animation-delay: 0.8s;
}
main .cardResto:nth-child(12) {
  animation-delay: 0.9s;
}
main .cardResto:nth-child(13) {
  animation-delay: 1s;
}
main .cardResto:nth-child(14) {
  animation-delay: 1.1s;
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
main .cardResto .cardDesc {
  overflow: hidden;
}
main .cardResto .cardDesc h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  width: auto;
  margin: 10px 0 0 15px;
}
main .cardResto .cardDesc p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  white-space: nowrap;
  width: auto;
  margin: 8px 0 25px 15px;
}
main .cardResto .cardPrice {
  display: flex;
  align-items: center;
}
main .cardResto .cardPrice div p {
  margin: 50px 30px 25px 5px;
  font-size: 14px;
}
main .cardResto .cardPrice .check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -70px;
  width: 60px;
  height: 65px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: 0.5s;
}
main .cardResto .cardPrice .check i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  color: #99E2D0;
  border-radius: 100px;
  background-color: white;
  font-size: 15px;
}
main .cardResto:hover .check {
  transition: 0.5s ease;
  margin-right: 0;
}
main .cardResto:hover .check i {
  transition: 0.5s;
  rotate: 360deg;
}

button {
  height: 55px;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  width: 60%;
  max-width: 500px;
  margin: 12% auto 8% auto;
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  transition-property: transform;
  transition-duration: 400ms;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

main {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  width: 100%;
  height: auto;
  font-family: roboto, sans-serif;
}
main .restaurantsAccueil {
  margin: 13% 0 5% 5%;
  border: none;
  font-weight: 600;
  font-size: 22px;
}
main .CardAccueil {
  position: relative;
  margin: auto;
  width: 90%;
  height: 225px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  transition-duration: 200ms;
}
main .CardAccueil:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
main .CardAccueil img {
  height: 160px;
  width: 100%;
  object-position: bottom;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
main .CardAccueil img:nth-child(2) {
  object-position: 50% 62%;
  object-fit: cover;
}
main .CardAccueil span {
  font-size: 12px;
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 2px;
  padding: 1.5% 3% 1.5% 3%;
  margin: 3% 0 0 75%;
}
main .CardAccueil .CardDesc {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
main .CardAccueil .CardDesc .fa-regular {
  position: relative;
  font-size: 23px;
}
main .CardAccueil .CardDesc .fa-solid {
  position: relative;
  right: 27.8px;
  bottom: -1px;
  font-size: 25px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0%;
  transition-duration: 200ms;
}
main .CardAccueil .CardDesc .fa-solid:hover {
  opacity: 100%;
}
main .CardAccueil .CardDesc h3 {
  font-size: 17px;
  margin: 8px 0 5px 15px;
}
main .CardAccueil .CardDesc p {
  font-size: 14px;
  font-weight: 100;
  margin: 0 0 2px 15px;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #232323;
  width: 100%;
  height: auto;
  font-family: roboto;
  font-size: 15px;
  font-weight: 500;
}
footer h2 {
  font-family: shrikhand, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin: 7% 0 0 8%;
}
footer ul {
  list-style-type: none;
  padding-left: 8%;
  margin-top: 5%;
}
footer ul :hover {
  color: #9356DC;
  transition: all 100ms;
}
footer ul li {
  cursor: pointer;
  color: white;
  margin-bottom: 8px;
}
footer ul i {
  font-size: 13px;
  margin-right: 15px;
}
footer ul .fa-handshake-angle {
  margin-right: 10px;
}
footer ul a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
