@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300;400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300;400;600&family=Roboto:wght@500&family=Shrikhand&display=swap");
/*Couleurs principales*/
/*Couleurs secondaires*/
header {
  font-family: roboto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
header img {
  position: relative;
  box-shadow: 0px 1px 5px #A2A2A2;
  width: 50%;
  padding: 4.5% 25%;
  padding-top: 6%;
}
header form {
  padding: 4% 0% 4% 12%;
  background-color: #E7E7E7;
}
header form i {
  margin-right: 15px;
}
header form input {
  border: none;
  outline: none;
  background-color: #E7E7E7;
}
header form ::-moz-placeholder {
  color: black;
}
header form :-ms-input-placeholder {
  color: black;
}
header form ::placeholder {
  color: black;
}
header div {
  height: auto;
  background-color: #F2F2F2;
}
header div h1 {
  margin: 10% auto 2%;
  width: 70%;
  font-size: 24px;
}
header div p {
  margin: 5% auto 10%;
  width: 80%;
}
header div button {
  height: 60px;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  width: 60%;
  max-width: 500px;
  margin-bottom: 10%;
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  transition-property: transform;
  transition-duration: 500ms;
}
header div button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

nav ol li {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 70px;
  width: 95%;
  margin-top: 7%;
  border: 1px #F2F2F2 solid;
  border-radius: 25px;
}
nav ol li .fa-list-ul {
  left: -31px;
}
nav ol li .fa-store {
  left: -28px;
}
nav ol li i {
  position: relative;
  left: -25px;
  color: #A2A2A2;
  font-size: 19px;
}
nav ol li p {
  font-size: 15px;
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 100px;
  width: 25px;
  height: 20px;
  padding-top: 5px;
  color: white;
}