@mixin FlexColumn(){
    display: flex;
    flex-direction: column;
}
@mixin FlexBetween(){
    display: flex;
    justify-content: space-between;
}
@mixin FlexCenter(){
    display: flex;
    justify-content: center;
}
@mixin FlexAlign(){
    display: flex;
    align-items: center;
    align-content: center;
}
@mixin Noborder(){
    border: none;
    outline: none;
}