/*Couleurs principales*/
$purple:#9356DC;
$lighterpurple:#F1E6FE;
$pink:#FF79DA;
$mint:#99E2D0;
$darkermint:#008766;

/*Couleurs secondaires*/
$gray:#F6F6F6;
$darkergray:#E7E7E7;
$darkestgray:#EAEAEA;
$icongray:#7E7E7E;
$footercolor:#232323;