/*Couleurs principales*/
$purple:#9356DC;
$lighterpurple:#F1E6FE;
$pink:#FF79DA;
$mint:#99E2D0;
$darkermint:#128567;

/*Couleurs secondaires*/
$gray:#F2F2F2;
$darkergray:#E7E7E7;
$darkestgray:#A2A2A2;