main{
    @include FlexColumn;
    width: 100%;
    margin: auto;
    height: auto;
    background-color:$gray;
    border-radius: 40px 40px 0 0;
    position: relative;
    bottom: 50px;
    font-family: roboto, sans-serif;
    
    
.Title {

        @include FlexAlign;
        justify-content: space-between;
        margin: 5% 10% 0 5%;
        position: relative;

        h1 {
            font-family: shrikhand, sans-serif;
            font-size: 26px;
            font-weight: lighter;
            margin: 5% 0 0 0;
        }
        .fa-solid{
            font-size: 28px;
            position: absolute;
            right: -1.5px;
            bottom: 3.7px;
            opacity: 0%;
            background: linear-gradient(175deg, $pink, $purple);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transition: all 150ms;
            cursor: pointer;

            &:hover{
                opacity: 100%;
            }

        }
        .fa-regular {
            margin-top: 4%;
            font-size: 25px; 
        }
    }

    h2 {
        font-weight: lighter;
        margin: 10% 0 0% 5%;
        font-size: 18px;
        border-bottom: 3px solid $mint;
        padding-bottom: 1%;
        width: 12%;
    }
    .cardResto{
        @include FlexBetween;
        margin: 5% auto auto auto;
        background-color: white;
        width: 92%;
        max-width: 500px;
        height: 65px;
        border-radius: 15px;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
        
        .cardDesc{
            overflow:hidden;
            h3{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 17px;
                width: auto;
                margin: 10px 0 0 15px;
            }
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                white-space: nowrap;
                width: auto;
                margin: 8px 0 25px 15px;
            }
        }
        .cardPrice{
            display: flex;
            align-items: center;
            
            div{
            p{
                margin:50px 30px 25px 5px;
                font-size: 14px;

            }
            }
            .check{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -70px;
                width: 60px;
                height: 65px;
                background-color: $mint; 
                border-radius: 0 15px 15px 0;
                transition: 0.5s;
                
                
                
                i{  
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                width: 20px;
                color: $mint;
                border-radius: 100px;
                background-color: white;
                font-size: 15px;
            }
        }
    }
             &:hover{
                .check{
                    
                    transition: 0.5s ease;
                    margin-right: 0;
                   i{
                    
                    transition: 0.5s;
                    rotate: 360deg;
                    
                    
                    
                    }
                }
                
            }
        }
    
}
button{
        height: 55px;
        border-radius: 25px;
        border: none;
        box-shadow: 2px 5px 10px rgba($color: #000, $alpha: 0.4);
        width: 60%;
        max-width: 500px;
        margin: 12% auto 8% auto;
        color: white;
        background: linear-gradient(175deg, $pink, $purple);
        transition-property: transform;
        transition-duration: 400ms;
    }
    button:hover{
        cursor: pointer;
        transform: scale(1.05);
        
    }
