main{
    @include FlexColumn;
    background-color: $gray;
    width: 100%;
    height: auto;
    font-family: roboto, sans-serif;
    
    .restaurantsAccueil{
      margin: 13% 0 5% 5%;
      border: none;
      font-weight: 600;
      font-size: 22px;
    }
    .CardAccueil{
      position: relative;
      margin: auto;
      width: 90%;
      height: 225px;
      background-color: white;
      box-shadow: 2px 2px 5px rgba($color:#000, $alpha: 0.2);
      border-radius: 15px;
      margin-bottom: 5%;
      cursor: pointer;
      color: #000;
      text-decoration: none;
      transition-duration: 200ms;
      
      &:hover{
        box-shadow: 3px 3px 8px rgba($color:#000, $alpha: 0.3);
      }
      

      img{
          height: 160px;
          width: 100%;
          object-position: bottom;
          object-fit: cover;
          border-radius: 15px 15px 0 0;
  
          &:nth-child(2){
              object-position: 50% 62%;
              object-fit: cover;
          }
      }
      span{
          font-size: 12px;
          position: absolute;
          color: $darkermint;
          background-color: $mint;
          border-radius: 2px;
          padding: 1.5% 3% 1.5% 3%;
          margin: 3% 0 0 75%;
          
      }

      .CardDesc{
        position: relative;
          @include FlexAlign;
          justify-content: space-between;
          
          .fa-regular{
             position: relative;
             font-size: 23px;
             
           }
           .fa-solid{
            position: relative;
            right: 27.8px;
            bottom: -1px;
            font-size: 25px;
            background: linear-gradient(175deg, $pink, $purple);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0%;
            transition-duration: 200ms;

            &:hover{
                opacity: 100%;
            }
           }
            
          h3{
              font-size: 17px;
              margin: 8px 0 5px 15px;
          }
          p{
              font-size: 14px;
              font-weight: 100;
              margin: 0 0 2px 15px;
          }
        }
      }
  }
  