main{
    @include FlexColumn;
    width: 100%;
    margin: auto;
    height: auto;
    background-color:$gray;
    border-radius: 40px 40px 0 0;
    position: relative;
    bottom: 50px;
    font-family: roboto, sans-serif;
    
.Title {

        @include FlexAlign;
        justify-content: space-between;
        margin: 5% 10% 0 5%;
        position: relative;

        h1 {
            font-family: shrikhand, sans-serif;
            font-size: 26px;
            font-weight: lighter;
            margin: 5% 0 0 0;
        }
        .fa-solid{
            font-size: 27px;
            position: absolute;
            right: -1px;
            bottom: 3.3px;
            opacity: 0%;
            background: linear-gradient(175deg, $pink, $purple);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transition: all 150ms;
            cursor: pointer;

            &:hover{
                opacity: 100%;
            }

        }
        .fa-regular {
            margin-top: 4%;
            font-size: 25px; 
        }
    }

    h2 {
        font-weight: lighter;
        margin: 10% 0 0% 5%;
        font-size: 18px;
        border-bottom: 3px solid $mint;
        padding-bottom: 1%;
        width: 12%;
    }
    .cardResto{
        @include FlexBetween;
        margin: auto;
        background-color: white;
        width: 92%;
        height: 70px;
        border-radius: 15px;
        cursor: pointer;

         :hover .cardResto i {
            width: 50px;
            margin-right: 25px;

        }
        
        

        .cardDesc{

            h3{
                width: 100%;
                margin: 5% 0 1% 5%;
            }
            p{
                margin: 7% 0 2% 5%;
            }
        }
        .cardPrice{
            display: flex;
            align-items: center;
            
            .price{
            p{
                margin-top: 50px;
                margin-right: 10px;
            }
            }
            .check{
                height: 70px;
                display: flex;
                background-color: $mint; 
                border-radius: 0 15px 15px 0;
            
            i{
                display: flex;
                justify-content: center;
                margin-right: -25px;
                align-items: center;
                border-radius: 0 15px 15px 0;
                font-size: 20px;
                width: 20px;
                

            }
        }
    
    }

}
    
}
button{
        height: 55px;
        border-radius: 25px;
        border: none;
        box-shadow: 2px 5px 10px rgba($color: #000, $alpha: 0.4);
        width: 60%;
        max-width: 500px;
        margin: 12% auto 8% auto;
        color: white;
        background: linear-gradient(175deg, $pink, $purple);
        transition-property: transform;
        transition-duration: 400ms;
    }
    button:hover{
        cursor: pointer;
        transform: scale(1.05);
        
    }
