
header{
    font-family: roboto, sans-serif;
    text-align: center;
    @include FlexColumn();
    margin: auto;
    
    img{
        position: relative;
        box-shadow: 0px 1px 5px rgba($color: #000, $alpha: 0.2);
        width: 50%;
        padding: 4.5% 25%;
        padding-top: 6%;
    }
    form{
        padding: 4% 0% 4% 12%;
        background-color: $darkergray;
        
        @media (min-width:768px){
            padding: 4% 4% 4% 12%;
            font-size: 22px;
        }
        
        
             i{
              position: relative;
              font-size: 18px;
              left: 25px;
              top: 0px;

              @media (min-width:768px){
               font-size: 25px;
               left: 40px;
              }
              
              

             }
             input{
                margin-left: 9%;
              @include Noborder();
              background-color: $darkergray;
              }
             ::placeholder{
              color: black;


             }
    }
    
    div{
        height: auto;
        background-color: $gray;

        @media (min-width:768px){
            height: 240px;
        }
        
             h1{
                border: none;
                margin: 10% auto 2%;
                width: 70%;
                font-size:24px;

                @media (min-width:768px){
                    font-size: 26px;
                    margin: 5% auto 2%;
                }
             }
             p{
                margin: 5% auto 0 auto;
                width: 80%;

                @media (min-width:768px){
                    font-size: 17px;
                }
            }
            button{
                height: 60px;
                border-radius: 25px;
                border: none;
                box-shadow: 2px 5px 10px rgba($color: #000, $alpha: 0.4);
                width: 60%;
                max-width: 500px;
                margin-bottom: 10%;
                color: white;
                background: linear-gradient(175deg, $pink, $purple);
                transition-property: transform;
                transition:all 400ms;

                @media (min-width:768px){
                    margin: 5% 0 5% 0;
                    width: 65%;
                    height: 80px;
                }
            }
            button:hover{
                box-shadow: 5px 8px 15px rgba($color: #000, $alpha: 0.5);
                cursor: pointer;
                transform: scale(1.05);
                
            }
    }
}

    
