@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300;400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300;400;600&family=Roboto:wght@500&family=Shrikhand&display=swap");
/*Couleurs principales*/
/*Couleurs secondaires*/
header {
  font-family: roboto, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
header img {
  position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 4.5% 25%;
  padding-top: 6%;
}
header form {
  padding: 4% 0% 4% 12%;
  background-color: #E7E7E7;
}
header form i {
  margin-right: 15px;
}
header form input {
  border: none;
  outline: none;
  background-color: #E7E7E7;
}
header form ::placeholder {
  color: black;
}
header div {
  height: auto;
  background-color: #F6F6F6;
}
header div h1 {
  margin: 10% auto 2%;
  width: 70%;
  font-size: 24px;
}
header div p {
  margin: 5% auto 10%;
  width: 80%;
}
header div button {
  height: 60px;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  width: 60%;
  max-width: 500px;
  margin-bottom: 10%;
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  transition-property: transform;
  transition: all 400ms;
}
header div button:hover {
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.05);
}

nav {
  margin-top: 7%;
  margin-bottom: 14%;
}
nav h2 {
  margin-right: 40%;
}
nav ol {
  padding: 0;
  margin-left: 7%;
}
nav ol li {
  transition-property: transform;
  transition: all 150ms;
}
nav ol :hover {
  cursor: pointer;
  scale: 1.05;
  background: #F1E6FE;
}
nav ol :hover i {
  color: #9356DC;
}
nav ol :hover p {
  background-color: #9356DC;
}
nav ol li {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 70px;
  width: 95%;
  margin-top: 8%;
  background-color: #F6F6F6;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
nav ol li .fa-list-ul {
  left: -31px;
}
nav ol li .fa-store {
  left: -28px;
}
nav ol li i {
  position: relative;
  left: -25px;
  color: #7E7E7E;
  font-size: 19px;
}
nav ol li p {
  font-size: 15px;
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 100px;
  width: 25px;
  height: 20px;
  padding-top: 5px;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  width: 100%;
  height: auto;
  font-family: roboto, sans-serif;
}
main h2 {
  margin: 15% 0 5% 5%;
}
main .CardAccueil {
  position: relative;
  margin: auto;
  width: 90%;
  height: 225px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  transition-duration: 200ms;
}
main .CardAccueil:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
main .CardAccueil img {
  height: 160px;
  width: 100%;
  object-position: bottom;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
main .CardAccueil img:nth-child(2) {
  object-position: 50% 62%;
  object-fit: cover;
}
main .CardAccueil span {
  font-size: 12px;
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 2px;
  padding: 1.5% 3% 1.5% 3%;
  margin: 3% 0 0 75%;
}
main .CardAccueil .CardDesc {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
main .CardAccueil .CardDesc .fa-regular {
  position: relative;
  font-size: 23px;
}
main .CardAccueil .CardDesc .fa-solid {
  position: relative;
  right: 27.8px;
  bottom: -1px;
  font-size: 25px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0%;
  transition-duration: 200ms;
}
main .CardAccueil .CardDesc .fa-solid:hover {
  opacity: 100%;
}
main .CardAccueil .CardDesc h3 {
  font-size: 17px;
  margin: 8px 0 5px 15px;
}
main .CardAccueil .CardDesc p {
  font-size: 14px;
  font-weight: 100;
  margin: 0 0 2px 15px;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #232323;
  width: 100%;
  height: auto;
  font-family: roboto;
  font-size: 15px;
  font-weight: 500;
}
footer h2 {
  font-family: shrikhand, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin: 7% 0 0 8%;
}
footer ul {
  list-style-type: none;
  padding-left: 8%;
  margin-top: 5%;
}
footer ul :hover {
  color: #9356DC;
  transition: all 100ms;
}
footer ul li {
  cursor: pointer;
  color: white;
  margin-bottom: 8px;
}
footer ul i {
  font-size: 13px;
  margin-right: 15px;
}
footer ul .fa-handshake-angle {
  margin-right: 10px;
}
footer ul a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
