@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300;400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@300;400;600&family=Roboto:wght@500&family=Shrikhand&display=swap");
/*Couleurs principales*/
/*Couleurs secondaires*/
body {
  background-color: #F6F6F6;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
header #MainPhoto {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
header #logo {
  padding: 6% 25% 3% 25%;
  width: 50%;
  background-color: white;
}
header i {
  position: absolute;
  left: 20px;
  top: 27px;
  font-size: 20px;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #232323;
  width: 100%;
  height: auto;
  font-family: roboto;
  font-size: 15px;
  font-weight: 500;
}
footer h2 {
  font-family: shrikhand, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin: 7% 0 0 8%;
}
footer ul {
  list-style-type: none;
  padding-left: 8%;
  margin-top: 5%;
}
footer ul :hover {
  color: #9356DC;
  transition: all 100ms;
}
footer ul li {
  cursor: pointer;
  color: white;
  margin-bottom: 8px;
}
footer ul i {
  font-size: 13px;
  margin-right: 15px;
}
footer ul .fa-handshake-angle {
  margin-right: 10px;
}
footer ul a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: auto;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 50px;
  font-family: roboto;
}
main .Title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 5% 10% 0 5%;
  position: relative;
}
main .Title h1 {
  font-family: shrikhand, sans-serif;
  font-size: 26px;
  font-weight: lighter;
  margin: 5% 0 0 0;
}
main .Title .fa-solid {
  font-size: 28px;
  position: absolute;
  right: -1.5px;
  bottom: 3px;
  opacity: 0%;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 150ms;
}
main .Title .fa-solid:hover {
  opacity: 100%;
}
main .Title .fa-regular {
  margin-top: 4%;
  font-size: 25px;
}
main h2 {
  font-weight: lighter;
  margin: 10% 0 0% 5%;
  font-size: 18px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 1%;
  width: 12%;
}
main .CardResto {
  width: 92%;
  max-width: 400px;
  margin: 4% auto 0% auto;
  background-color: white;
  height: 65px;
  border-radius: 15px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}
main .CardResto h3 {
  font-size: 16px;
  margin: 4% 0 2% 3%;
}
main .CardResto .CardPrice {
  display: flex;
  justify-content: space-between;
}
main .CardResto .CardPrice p {
  margin: 0 5% 0% 3%;
  font-size: 13.5px;
}
main button {
  height: 55px;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  width: 60%;
  max-width: 500px;
  margin: 12% auto 8% auto;
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  transition-property: transform;
  transition-duration: 400ms;
}
main button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/*# sourceMappingURL=restaurants.css.map */
