header{
    font-family: roboto, sans-serif;
    text-align: center;
    @include FlexColumn();
    margin: auto;

    img{
        position: relative;
        box-shadow: 0px 1px 5px rgba($color: #000, $alpha: 0.2);
        width: 50%;
        padding: 4.5% 25%;
        padding-top: 6%;
    }
    form{
        padding: 4% 0% 4% 12%;
        background-color: $darkergray;
        
             i{
              margin-right: 15px;
             }
             input{
              @include Noborder();
              background-color: $darkergray;
              }
             ::placeholder{
              color: black;
             }
    }
    
    div{
        height: auto;
        background-color: $gray;
        
             h1{
                margin: 10% auto 2%;
                width: 70%;
                font-size:24px;
             }
             p{
                margin: 5% auto 10%;
                width: 80%;
            }
            button{
                height: 60px;
                border-radius: 25px;
                border: none;
                box-shadow: 2px 5px 10px rgba($color: #000, $alpha: 0.4);
                width: 60%;
                max-width: 500px;
                margin-bottom: 10%;
                color: white;
                background: linear-gradient(175deg, $pink, $purple);
                transition-property: transform;
                transition:all 400ms;
            }
            button:hover{
                box-shadow: 5px 8px 15px rgba($color: #000, $alpha: 0.5);
                cursor: pointer;
                transform: scale(1.05);
                
            }
    }
}